@forward "~@pyxis/scss/src/scss/components";
@forward "~@pyxis/scss/src/scss/pyxis.scss";
@use "~@pyxis/scss/src/scss/pyxis.scss";
@use "scss/form";

.alt-wrapper {
  @include pyxis.radius(2xs);
  background-color: pyxis.color(neutralBase);
  display: flex;
  padding: pyxis.spacing(2xs);
}

.list {
  @include pyxis.responsiveSpacing("margin-bottom", m, $fromMedium: l);
  list-style-type: none;
  margin-top: 0;
  padding-left: pyxis.spacing(m);

  &:last-child {
    margin-bottom: 0;
  }
}

.list__item {
  margin-bottom: pyxis.spacing(3xs);

  &:last-child {
    margin-bottom: 0;
  }
}

.full-width {
  width: 100%;
}
