@use "src/stories/pyxis";

.wrapper {
  column-gap: pyxis.spacing(s);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  padding: pyxis.spacing(s);
  width: min-content;
}
