@use "../../foundations";
@use "variables";
@use "mixins";

$_wrapperAnimationOffset: foundations.rem(10px);

.form-dropdown-wrapper {
  @include foundations.elevation(s, action15);
  @include foundations.radius(xs);
  border: variables.$borderWidth solid foundations.color(actionBase);
  left: -#{variables.$borderWidth};
  opacity: 0;
  outline: transparent solid variables.$outlineWidth;
  padding-top: variables.$fieldHeight - $_wrapperAnimationOffset;
  position: absolute;
  right: -#{variables.$borderWidth};
  top: -#{variables.$borderWidth};
  transition-duration: foundations.duration(fastest);
  transition-property: opacity, outline-color, padding-top, visibility;
  transition-timing-function: foundations.timing(exit);
  visibility: hidden;
  will-change: opacity, outline-color, padding-top;
  z-index: 1;

  @include foundations.onSafari {
    outline: none;
  }

  .form-field--with-opened-dropdown & {
    opacity: 1;
    outline-color: rgba(foundations.color(actionBase), 0.2);
    padding-top: variables.$fieldHeight;
    transition-timing-function: foundations.timing(entrance);
    visibility: visible;

    @include foundations.onSafari {
      @include mixins.shadow(rgba(foundations.color(actionBase), 0.2));
    }
  }

  .form-field--error.form-field--with-opened-dropdown & {
    border-color: foundations.color(errorBase);
    outline-color: rgba(foundations.color(errorBase), 0.2);

    @include foundations.onSafari {
      @include mixins.shadow(rgba(foundations.color(errorBase), 0.2));
    }
  }
}

.form-dropdown-wrapper--small {
  padding-top: variables.$fieldHeightSmall - $_wrapperAnimationOffset;

  .form-field--with-opened-dropdown & {
    padding-top: variables.$fieldHeightSmall;
  }
}

.form-dropdown {
  $maxHeight: foundations.rem(155px);
  $maxHeightSmall: foundations.rem(120px);
  $radius: 0 0 foundations.rem(6px) foundations.rem(6px);
  $scrollSnapMarginOffset: foundations.rem(1px);

  @include foundations.hideScrollbar;
  background-color: foundations.color(neutralLight);
  border-radius: $radius;
  border-top: foundations.rem(1px) solid foundations.color(neutral85);
  cursor: default;
  display: grid;
  max-height: $maxHeight;
  overflow-x: hidden;
  overscroll-behavior: contain;
  padding: foundations.spacing(3xs 2xs);
  position: relative;
  row-gap: foundations.spacing(4xs);
  scroll-margin-block: $scrollSnapMarginOffset;
  scroll-padding-block: foundations.spacing(4xs);
  scroll-snap-type: y proximity;

  .form-dropdown-wrapper--small & {
    max-height: $maxHeightSmall;
    padding: foundations.spacing(3xs);
  }
}

.form-dropdown--with-header {
  padding-top: 0;
}

.form-dropdown__item,
.form-dropdown__no-results {
  $minHeight: foundations.rem(40px);
  $minHeightSmall: foundations.rem(30px);

  @include foundations.radius(2xs);
  align-items: center;
  color: foundations.color(neutral25);
  cursor: pointer;
  display: grid;
  min-height: $minHeight;
  outline: none;
  padding: foundations.spacing(0 2xs);
  user-select: none;

  .form-dropdown-wrapper--small & {
    min-height: $minHeightSmall;
  }
}

.form-dropdown__item--active {
  background-color: foundations.color(actionLight);
  color: foundations.color(actionBase);
}

.form-dropdown__item:hover,
.form-dropdown__item--hover {
  background-color: foundations.color(neutral95);
}

.form-dropdown__item--hover {
  scroll-snap-align: start;
}

.form-dropdown__no-results {
  $height: foundations.rem(48px);
  $heightSmall: foundations.rem(38px);

  cursor: default;
  grid-auto-rows: $height;

  .form-dropdown-wrapper--small & {
    grid-auto-rows: $heightSmall;
  }
}

.form-dropdown__no-results__action {
  align-items: center;
  border-top: foundations.rem(1px) solid foundations.color(neutral85);
  display: grid;
  height: 100%;
  justify-items: start;
  position: relative;
}

.form-dropdown__suggestion {
  align-items: center;
  column-gap: foundations.spacing(s);
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  padding: foundations.spacing(3xs 2xs);

  .form-dropdown-wrapper--small & {
    column-gap: foundations.spacing(2xs);
  }
}

.form-dropdown__suggestion__wrapper {
  color: foundations.color(neutralBase);
  display: grid;
  row-gap: foundations.spacing(4xs);

  .form-dropdown-wrapper--small & {
    row-gap: unset;
  }
}

.form-dropdown__suggestion__title {
  @include foundations.text(l, bold);

  .form-dropdown-wrapper--small & {
    @include foundations.text(m, bold);
  }
}

.form-dropdown__suggestion__subtitle {
  @include foundations.text(m, book);
  color: foundations.color(neutral25);

  .form-dropdown-wrapper--small & {
    @include foundations.text(s, book);
  }
}

.form-dropdown__header {
  @include foundations.text(s, book, neutral25);
  background-color: foundations.color(neutralLight);
  padding: foundations.spacing(3xs 2xs);
  position: sticky;
  top: 0;

  &:after {
    background-color: foundations.color(neutral85);
    bottom: 0;
    content: "";
    height: foundations.rem(1px);
    left: foundations.spacing(2xs);
    position: absolute;
    right: foundations.spacing(2xs);
  }
}
