@use "../../foundations";

.form-item {
  display: grid;
  grid-template-rows: auto;
  row-gap: foundations.spacing(2xs);
  width: 100%;
}

.form-item__wrapper {
  display: grid;
  row-gap: foundations.spacing(4xs);
}

.form-item__error-message {
  @include foundations.text(s, book, errorBase);
}

.form-item__hint {
  @include foundations.text(s, book, neutral25);
}
