@use "../../foundations";

$borderWidth: foundations.rem(2px);
$controlSize: foundations.rem(20px);
$fieldHeight: foundations.rem(46px);
$fieldHeightSmall: foundations.rem(31px);
$fieldWidth: calc(100% - #{$fieldHeight});
$fieldWidthSmall: calc(100% - #{$fieldHeightSmall});
$outlineWidth: foundations.rem(3px);
