@use "../../../foundations";
@use "../../../lib";
@use "../mixins";
@use "../variables";

.form-control {
  @include foundations.text(m, book, neutral25);
  align-items: center;
  column-gap: foundations.spacing(xs);
  cursor: pointer;
  display: grid;
  grid-template-columns: variables.$controlSize auto;
  position: relative;
  user-select: none;
}

.form-control--disabled {
  color: foundations.color(neutral50);
  cursor: not-allowed;
}

.form-control-group {
  @include foundations.responsiveSpacing("column-gap", l, $fromMedium: xl, $fromLarge: 2xl);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  position: relative;
  row-gap: foundations.spacing(4xs);
  width: 100%;
}

.form-control-group--column {
  grid-auto-flow: row;
  row-gap: foundations.spacing(xs);
}
