@use 'src/stories/pyxis';

.wrapper {
  @include pyxis.responsiveSpacing("margin-bottom", xl, $fromMedium: 2xl, $fromLarge: 3xl);
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(pyxis.rem(250px), 1fr));
  margin-top: pyxis.spacing(m);
  row-gap: pyxis.spacing(xs);

  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  @include pyxis.radius(xs);
  @include pyxis.responsiveSpacing("padding", m s, $fromMedium: l s);
  @include pyxis.text(s, book);
  align-items: center;
  background-color: transparent;
  display: grid;
  justify-items: center;
  position: relative;
  row-gap: pyxis.spacing(xs);
  transition: background-color pyxis.duration(fast) pyxis.timing(base);

  &:after {
    color: pyxis.color(neutral50);
    content: "Copy";
    opacity: 0;
    position: absolute;
    right: pyxis.rem(10px);
    top: pyxis.rem(5px);
    transition: opacity pyxis.duration(fast) pyxis.timing(base);
  }

  &:hover {
    background-color: pyxis.color(neutral95);
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }

  &.copied:after {
    content: "Copied!";
  }
}
