@use "src/stories/pyxis";

.wrapper {
  column-gap: pyxis.spacing(l);
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  padding: pyxis.spacing(m);
}

.wrapperPadding2Xl {
  @include pyxis.responsiveSpacing("padding", 2xl, $fromMedium: 3xl, $fromLarge: 4xl);
}
