@use "src/stories/pyxis";

.wrapper {
  column-gap: pyxis.spacing(l);
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  padding: pyxis.spacing(m);
}

.wrapperPadding2Xl {
  padding: pyxis.spacing(2xl);
}
