@use "../foundations";
@use "mixins";

$_states: (brand, alert, success, error);

.message {
  @include foundations.radius(s);
  @include foundations.responsiveSpacing("column-gap", xs, $fromXSmall: s);
  @include foundations.responsiveSpacing("padding", xs s, $fromXSmall: s);
  align-items: center;
  background-color: foundations.color(neutral95);
  display: grid;
  grid-template-columns: min-content auto min-content;
  width: 100%;
}

@each $state in $_states {
  .message--#{$state} {
    &.message--with-background-color {
      background-color: foundations.color(#{$state}Light);
    }

    .message__icon {
      color: if($state == "alert", foundations.color(neutral25), foundations.color(#{$state}Base));
    }
  }
}

.message--ghost {
  background-color: transparent;
  padding: 0;
}

.message__title {
  @include foundations.text(m, bold, neutralBase);
}

.message__text {
  @include foundations.text(m, book, neutral25);
}

.message__close {
  @include mixins.focus(actionBase, $radiusSize: m);
  align-self: start;
  border-radius: 50%;
  cursor: pointer;
  padding: foundations.spacing(4xs);
}
